<!-- <div class="ui bottom visible inverted sidebar menu" id="footer">

      </div> -->

    
    <script>
      function commentsClick() {
        var commentsDiv = document.getElementById('view-comments');
        if(commentsDiv.style.display === 'none') {
          commentsDiv.style.display === 'block';
        } else {
          commentsDiv.style.display === 'none';
        }
      }
    </script>
    </body>
</html>