<html>
    <head>
        <title>
            FF Blog
        </title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" type="text/css">
        <link rel="stylesheet" href="/stylesheets/app.css">
        <body>
            <div class="ui fixed menu" id="navbar">
                <div class="ui container">
                    <div class="header item"><i class="football ball icon"></i>FF Blog</div>

                    <a href="/posts" class="item">Home</a>
                    <a href="/posts/new" class="item">New Post</a>
                    <a href="/links" class="item">Links</a>
                    </div>
                <div class="right menu">
                    <% if(!currentUser){ %>
                        <a href="/signin" class="ui item">Sign In</a>
                        <a href="/signup" class="ui item">Sign Up</a>
                    <% } else { %>
                        <a class="ui item">Hi <%= currentUser.username %></a>
                        <a href="/signout" class="ui item">Sign Out</a>
                    <% } %>
                  </div>
    
            </div>
