<% include ./partials/header %>

<div class="ui main container">
    <div class="ui huge header">Favorite FF Links</div>
    <div class="ui top attached segment">
        <div class="ui divided items">
                <div class="item">
                    <div class="image">
                        <img src="https://pbs.twimg.com/profile_images/708397005119299584/Wbis9E0t_400x400.jpg" alt="" srcset="">
                    </div>
                    <div class="content">
                        <div class="meta">
                        </div>
                        <div class="description">
                            <p>Rotoworld Fantasy Football, Fantasy NFL rankings, fantasy Football news, cheat sheets, NFL sleepers and more.</p>
                        </div>
                        <div class="extra">
                                Visit site
                                <i class="right chevron icon"></i>
                            </a>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>



<% include ./partials/footer %>
