.container.main {
    margin-top: 7.0em;
    margin-bottom: 7.0em;
}

#deleteForm {
    display: inline;
}

.segment {
    border: 1px solid darkgray !important;
}

.likes {
    float: right;
    margin-bottom: 15px;
}

.seperator {
    clear: right;
}

.outercolored {
    background-color: darkgrey !important;
}

#show-body {
    margin: 20px auto;
}

#link-desc {
    margin: 5px auto;
}

#comments-container {
    width: auto;
    background-color: black !important;
}
