

#navbar {
    box-shadow: 5px 10px 5px darkgrey !important;
    font-family: 'Atletico', slab-serif !important;
}

.header {
    font-family: 'Atletico', slab-serif !important;

}

.container.main {
    margin-top: 7.0em;
    margin-bottom: 7.0em;
}

#deleteForm {
    display: inline;
}

.segment {
    border: none !important;
}

.likes {
    float: right;
    margin-bottom: 15px;
}

.seperator {
    clear: right;
}

.outercolored {
    background-color: whitesmoke !important;
    box-shadow: 0 10px 20px 10px darkgrey !important;
}

#show-body {
    margin: 20px auto;
}

#link-desc {
    margin: 5px auto;
}

#comments-container {
    width: auto;
    background-color: whitesmoke !important;
    box-shadow: 0 10px 20px 10px darkgrey !important;
}

#show-container, #index-container {
    margin-bottom: 70px;
}

.button {
    box-shadow: 0 10px 20px 10px darkgrey !important;
}