body {
    background-color: whitesmoke;
}

#navbar {
    box-shadow: 5px 10px 5px darkgrey !important;
    font-family: 'Atletico', slab-serif !important;
}

.header {
    font-family: 'Atletico', slab-serif !important;

}

.container.main, #links-container {
    margin-top: 7.0em;
    margin-bottom: 7.0em;
}

#deleteForm {
    display: inline;
}

.segment {
    border: none !important;
}

.edit-delete {
    float: right;
    margin-bottom: 25px;
}

.likes-div {
    float: left;
    color: red;
}

#show-divider {
    margin: 0 20px !important;
}

.seperator {
    clear: right;
}

.outercolored {
    background-color: whitesmoke !important;
    box-shadow: 0 5px 5px 5px darkgrey !important;
}

#show-body {
    margin: 20px auto;
}

#link-desc {
    margin: 5px auto;
}

#comments-container {
    width: auto;
    background-color: whitesmoke !important;
    box-shadow: 0 5px 5px 5px darkgrey !important;
}

#show-container, #index-container {
    margin-bottom: 70px;
}

.button {
    box-shadow: 0 5px 5px 5px darkgrey !important;
}

input[type="text"], textarea {
    box-shadow: 0 5px 5px 5px darkgrey !important;
}

.edit-delete > .button:not(:last-child), .likes-div > .button:not(:last-child) {
    margin-right: 10px;
}

input[type="submit"] {
    width: 40%;
}

.avatar {
    margin-bottom: 15px !important;
}

.comment-header h3 {
    float: left;
}

#comment-link {
    float: right;
}

#comment-link a {
    color: white;
}

.comment-header {
    margin-bottom: 60px;
}

.go-back {
    float: right;
}

.clear {
    clear: both;
}








